<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net40" />
  <package id="EntityFramework.zh-Hans" version="6.2.0" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="21.9.0" targetFramework="net40" />
  <package id="sqlSugar" version="4.9.9.7" targetFramework="net40" />
</packages>